* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}



body {
    overflow-x: hidden;
    cursor: url('assets/cursor.gif'), auto;

}

h1 {
    color: rgb(230, 82, 25);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100vw;
    min-height: 100dvh;
    height: 100%;
}

#background {
    --backgroundSize: 800px;
    background-image: url('assets/bg.png');
    background-size: var(--backgroundSize), var(--backgroundSize);
    background-repeat: repeat;
    background-position: 0 0, 0 var(--backgroundSize);
    animation: moveBackgrounds 5s linear infinite;
    display: grid;
    image-rendering: pixelated;
    position: relative;
    z-index: 0;
}

@keyframes moveBackgrounds {
  from {
    background-position: 0 var(--backgroundSize);
  }
  to {
    background-position: var(--backgroundSize) 0;
  }
}

#container {
    display: flex;
    flex-direction: row;
    width: 70vw; 
    background: rgba(255, 230, 189, 0.9);
    border-radius: 4px;
    border: 1px solid rgb(230, 82, 25);
    justify-content: space-between;
    padding: 10px;
}

a {
    color: rgb(230, 82, 25);
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-start;

}


/* config for screen < 1280px */

@media screen and (max-width: 1280px) {
    #container {
        width: 90vw;
    }
}



/* config for screen < 1280px */
@media screen and (max-width: 800px) {
    #container {
        width: 100vw;
        flex-direction: column;
    }

    #right {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 530px) {
    #title {
        display: flex;
        flex-wrap:nowrap;
        align-items:center;
    }
}

@media screen and (max-width: 400px) {


    #right {
        gap: 10px;
    }
}

@media screen and (max-width: 320px) {


    #right {
        gap: 10px;
    }
}

#happy {
    width: calc(min(200px, 100vw - 20px));
}

main {
    overflow: hidden;
}

.widget {
    height: fit-content;
}